<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baishiadmin.mapper.UserMapper">
    
    <select id="findAll" resultType="com.example.baishiadmin.entity.User">
        SELECT * FROM user
    </select>
    
    <select id="findById" resultType="com.example.baishiadmin.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    
    <insert id="insert" parameterType="com.example.baishiadmin.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, email)
        VALUES (#{username}, #{email})
    </insert>
    
    <update id="update" parameterType="com.example.baishiadmin.entity.User">
        UPDATE user
        SET username = #{username}, 
            email = #{email}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM user WHERE id = #{id}
    </delete>
</mapper>